In [29]:
%load_ext sql
import statsmodels.api as sma
from statsmodels.sandbox.regression.predstd import wls_prediction_std
import datetime
from scipy import stats
import math

from mpl_toolkits.basemap import Basemap # Basemap must be imported before Shapely due to conflict
import fiona
import shapely as shapely
from geopandas import GeoSeries, GeoDataFrame
from shapely.geometry import Point
from shapely.geometry import asShape
from time import gmtime, strftime
from array import array


# imports
import pandas as pd
import matplotlib.pyplot as plt
import csv
import math

# follow the usual sklearn pattern: import, instantiate, fit
from sklearn.linear_model import LinearRegression
import numpy as np

from matplotlib.patches import Polygon
from matplotlib.collections import PatchCollection

import statsmodels.formula.api as sm

# this allows plots to appear directly in the notebook
%matplotlib inline

%sql mysql://prod:nerd@52.2.153.189/rental_nerd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

u'Connected: prod@rental_nerd'

In [30]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '48%' )
           
# city abbreviation code
city = 'DETROIT'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

1955 rows affected.
city: DETROIT
max lat: 42.5184
max lng: -73.818399999999997
min lat: 40.715900000000005
min lng: -83.374299999999991

In [31]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '98%' )
           
# city abbreviation code
city = 'SEATTLE'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

1586 rows affected.
city: SEATTLE
max lat: 47.917999999999999
max lng: -122.05200000000001
min lat: 45.5304
min lng: -122.733

In [32]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '80%' )
           
# city abbreviation code
city = 'DENVER'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

2566 rows affected.
city: DENVER
max lat: 39.878899999999994
max lng: -104.685
min lat: 39.551400000000001
min lng: -105.17399999999999

In [33]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '77%' )
           
# city abbreviation code
city = 'HOUSTON'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

10419 rows affected.
city: HOUSTON
max lat: 44.938899999999997
max lng: -73.571600000000004
min lat: 29.4039
min lng: -98.167999999999992

In [34]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '97%' )
           
# city abbreviation code
city = 'PORTLAND'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

2179 rows affected.
city: PORTLAND
max lat: 45.672399999999996
max lng: -122.40000000000001
min lat: 45.356300000000005
min lng: -122.899

In [35]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties \
WHERE  \
properties.zipcode LIKE '89%' )
           
# city abbreviation code
city = 'VEGAS'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

6813 rows affected.
city: VEGAS
max lat: 42.936399999999999
max lng: -78.828400000000002
min lat: 32.726500000000001
min lng: -115.694

In [67]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude, \
properties.neighborhood \
FROM  \
properties, \
neighborhoods, \
property_neighborhoods \
WHERE  \
properties.id = property_neighborhoods.property_id AND \
neighborhoods.id = property_neighborhoods.neighborhood_id AND \
neighborhoods.id != 271 AND \
properties.neighborhood != "Sharon Heights" AND \
properties.neighborhood != "University Heights" AND \
properties.neighborhood != "Menlo Park" AND \
properties.neighborhood != "Fair Oaks" AND \
properties.neighborhood != "Central Menlo Park" AND \
properties.neighborhood != "Downtown Menlo Park" AND \
properties.neighborhood != "Stanford Hills" AND \
properties.neighborhood != "Stanford Weekend Acres" AND \
properties.neighborhood != "Pine Forest" AND \
properties.neighborhood != "Allied Arts" AND \
properties.neighborhood != "Lorelei Manor" AND \
neighborhoods.shapefile_source = "TUSCON" )
           
# city abbreviation code
city = 'TUSCON'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

data[data.longitude == data.longitude.min()].head()

8391 rows affected.
city: TUSCON
max lat: 37.465399999999995
max lng: -110.699
min lat: 32.027900000000002
min lng: -122.16499999999999

      property_id  longitude  latitude   neighborhood
8186      2001446   -122.115   37.4104  Mountain View

In [37]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties, \
neighborhoods, \
property_neighborhoods \
WHERE  \
properties.id = property_neighborhoods.property_id AND \
neighborhoods.id = property_neighborhoods.neighborhood_id AND \
neighborhoods.shapefile_source = "BAY_AREA" )
           
# city abbreviation code
city = 'BAY_AREA'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

16354 rows affected.
city: BAY_AREA
max lat: 38.658099999999997
max lng: -121.52800000000001
min lat: 37.282700000000006
min lng: -122.705

In [44]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties, \
neighborhoods, \
property_neighborhoods \
WHERE  \
properties.id = property_neighborhoods.property_id AND \
neighborhoods.id = property_neighborhoods.neighborhood_id AND \
properties.neighborhood != "Sunnyside" AND \
neighborhoods.shapefile_source = "SF" )
           
# city abbreviation code
city = 'SF'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

5711 rows affected.
city: SF
max lat: 37.8566
max lng: -122.32000000000001
min lat: 37.658300000000004
min lng: -122.56099999999999

      property_id  longitude  latitude
5784      1992440   -110.963   32.1585

In [39]:
query = %sql (\
SELECT  \
properties.id as 'property_id', \
properties.longitude, \
properties.latitude \
FROM  \
properties, \
neighborhoods, \
property_neighborhoods \
WHERE  \
properties.id = property_neighborhoods.property_id AND \
neighborhoods.id = property_neighborhoods.neighborhood_id AND \
neighborhoods.shapefile_source = "PH" )
           
# city abbreviation code
city = 'PH'    

# properties.has_pool IS NOT NULL AND \
# properties.garage IS NOT NULL AND \
data = query.DataFrame()

print "city: " + city
print "max lat: " + `data.latitude.max() + 0.05`
print "max lng: " + `data.longitude.max() + 0.05`
print "min lat: " + `data.latitude.min() - 0.05`
print "min lng: " + `data.longitude.min() - 0.05`

550092 rows affected.
city: PH
max lat: 34.047899999999998
max lng: -110.849
min lat: 32.203600000000002
min lng: -113.229