In [1]:
%load_ext sql

# imports
import pandas as pd
import datetime as dt

# today's date for output filenames
today = dt.date.today()

# data columns used for the booster
factors = ['property_id', 'bedrooms', 'bathrooms', 'sqft','longitude', 'latitude','zipcode', 'elevation', 'garage'
                          ,'year_built', 'level','dist_to_park','dist_to_golf_course', 'has_pool'
                          ,'date_closed','multifamily', 'hoa_fees', 'lot']

# %sql mysql://root@localhost/rental_nerd
%sql mysql://prod:nerd@52.2.153.189/rental_nerd

'Connected: prod@rental_nerd'

In [2]:
def top_zipcodes(n = 100):
    # query the top 100 zipcodes in the database (roughly equal to all zipcodes >10k properties)
    query = %sql (\
    SELECT zipcode, COUNT(id) \
    FROM properties \
    GROUP BY zipcode \
    ORDER BY 2 DESC \
    limit :n)

    zipcode_filter = query.DataFrame()
    print("Top zipcode by count is",zipcode_filter.iloc[0,0],"with",zipcode_filter.iloc[0,1],"properties")
    print("100th zipcode by count is",zipcode_filter.iloc[99,0],"with",zipcode_filter.iloc[99,1],"properties")
    return zipcode_filter.zipcode.values

def city_query():
    query = %sql (\
    SELECT area_name, COUNT(id) \
    FROM area_name_zipcodes \
    GROUP BY area_name \
    ORDER BY 2 DESC \
    limit 100)
    return query.DataFrame().area_name.values

def sanitize(data, zipcode_list = None):
    # abort if the city has no top zipcodes
    if data.empty:
        return 0    
    
    # filters out any non-sensical values or fat finger mistakes in MLS listings
    print("Entries before filter: ", len(data))

    if(data.transaction_type.iloc[0] == 'sales'):
        data = data[ data.price > 50000 ]
    else:
        data = data [ data.price > 500 ]
    
    if(zipcode_list is not None):
        data = data[data.zipcode.isin(zipcode_list)]

    print("Entries after filter: ",len(data))
    
    # fills in some sensible defaults where data is missing
    data["near_golf_course"] = data["near_golf_course"].apply(lambda x: True if x == 1.0 else False)
    data["has_pool"] = data["has_pool"].apply(lambda x: True if x == 1.0 else False)
    data["garage"] = data["garage"].apply(lambda x: True if x == 1.0 else False)
    data["multifamily"] = data["home_type"].apply(lambda x: True if x == "mfh" else False)
    data['date_closed'] = data['date_closed'].apply(lambda x: (x - dt.date(2000, 1, 1)).days)
    data['date_closed'] = data['date_closed'].astype(int)
    
    return data

def query_for_sale(city, zipcode, limit, start_date="2017-01-01 00:00:00"):
    # convert array of zipcodes into sql string which looks like a tuple
    placeholders = tuple(zipcode)
    
    # sql query helper function
    query = %sql (\
    select  \
    *  \
    from  \
    properties, \
    property_transaction_logs, \
    area_name_zipcodes \
    where  \
    property_transaction_logs.abnormal != true and \
    properties.sqft between 1 and 10000 and \
    property_transaction_logs.price between 500 and 4000000 and \
    properties.bedrooms <= 6 and \
    properties.bathrooms <= 6 and \
    properties.home_type = 'sfh' and \
    area_name_zipcodes.`area_name` LIKE :city and \
    area_name_zipcodes.`zipcode` = properties.`zipcode` and     \
    properties.zipcode IN :placeholders and \
    properties.`id` = property_transaction_logs.`property_id` and \
    property_transaction_logs.`transaction_status` = 'open' and \
    property_transaction_logs.`transaction_type` = 'sales' and \
    property_transaction_logs.`date_listed` > :start_date and \
    property_transaction_logs.`is_latest` = true \
    order by \
    property_transaction_logs.id desc \
    limit :limit) 

    return query.DataFrame().T.groupby(level=0).first().T

def query(transaction_type, transaction_status, city, zipcode, limit, start_date="2000-01-01 10:01:13", end_date=today):
    # convert array of zipcodes into sql string which looks like a tuple
    placeholders = tuple(zipcode)
    
    # sql query helper function
    query = %sql (\
    select  \
    *  \
    from  \
    properties, \
    property_transaction_logs, \
    area_name_zipcodes \
    where  \
    property_transaction_logs.abnormal != true and \
    properties.sqft between 1 and 10000 and \
    property_transaction_logs.price between 500 and 400000 and \
    properties.bedrooms <= 6 and \
    properties.bathrooms <= 6 and \
    properties.home_type = 'sfh' and \
    property_transaction_logs.date_closed > :start_date and \
    property_transaction_logs.date_closed < :end_date and \
    area_name_zipcodes.`area_name` LIKE :city and \
    area_name_zipcodes.`zipcode` = properties.`zipcode` and     \
    properties.zipcode IN :placeholders and \
    properties.`id` = property_transaction_logs.`property_id` and \
    property_transaction_logs.`transaction_status` = :transaction_status and \
    property_transaction_logs.`transaction_type` = :transaction_type and \
    property_transaction_logs.`is_latest` = true \
    order by \
    property_transaction_logs.id desc \
    limit :limit) 

    return query.DataFrame().T.groupby(level=0).first().T

def queue_city_queries(city, zipcode_list):
    # call all of the needed queries 
    for_sale = query_for_sale(city, zipcode_list, limit, (today - dt.timedelta(days=90)).isoformat())
    sales = query('sales', 'closed', city, zipcode_list, limit)
    rent = query('rental','closed', city,zipcode_list, limit)
        
    # use today's date for 'close date' since the transaction is still open i.e. home is currently listed for sale
    # this is needed for the sanitize function to work properly
    for_sale.date_closed = today

    data = {'sales': sales, 'rentals': rent, 'for_sale': for_sale }
    
    for k, v in data.items():
        if v.empty:
            print('no rows returned for key', k, 'in city: ', city)
            return 0
        data[k] = sanitize(v, zipcode_list)
    
    return data

In [3]:
# get list of top zipcodes to only run the model on them (put down 2000 to get every zipcode)
zipcode_list = top_zipcodes(2000)

# limit on number of lines returned from sql queries (for debugging)
limit = 10000000

# get list of all available cities
cities = city_query()
print("Order of city models to run:", cities)

1197 rows affected.
Top zipcode by count is 94565 with 18740 properties
100th zipcode by count is 85254 with 9697 properties
11 rows affected.
Order of city models to run: ['BAY_AREA' 'HOUSTON' 'PH' 'VEGAS' 'DENVER' 'ST_LOUIS' 'SEATTLE' 'SF'
 'PORTLAND' 'TUSCON' 'DETROIT']

In [4]:
for city in cities:
    print("Running queries for city", city)
    q = queue_city_queries(city, zipcode_list)
    for k,v in q.items():
        v.to_csv('CSV_backups/' + city + '-' + k + '.csv')

Running queries for city BAY_AREA
1306 rows affected.
112558 rows affected.
35015 rows affected.
Entries before filter:  112558
Entries after filter:  108659
Entries before filter:  35015
Entries after filter:  34998
Entries before filter:  1306
Entries after filter:  1304
Running queries for city HOUSTON
637 rows affected.
57600 rows affected.
25350 rows affected.
Entries before filter:  57600
Entries after filter:  49236
Entries before filter:  25350
Entries after filter:  25322
Entries before filter:  637
Entries after filter:  621
Running queries for city PH
2817 rows affected.
347977 rows affected.
54368 rows affected.
Entries before filter:  347977
Entries after filter:  333316
Entries before filter:  54368
Entries after filter:  54321
Entries before filter:  2817
Entries after filter:  2811
Running queries for city VEGAS
511 rows affected.
132179 rows affected.
29214 rows affected.
Entries before filter:  132179
Entries after filter:  126696
Entries before filter:  29214
Entries after filter:  29187
Entries before filter:  511
Entries after filter:  510
Running queries for city DENVER
174 rows affected.
50441 rows affected.
9810 rows affected.
Entries before filter:  50441
Entries after filter:  49421
Entries before filter:  9810
Entries after filter:  9804
Entries before filter:  174
Entries after filter:  174
Running queries for city ST_LOUIS
5 rows affected.
45417 rows affected.
5941 rows affected.
Entries before filter:  45417
Entries after filter:  37522
Entries before filter:  5941
Entries after filter:  5899
Entries before filter:  5
Entries after filter:  2
Running queries for city SEATTLE
139 rows affected.
23713 rows affected.
5631 rows affected.
Entries before filter:  23713
Entries after filter:  23189
Entries before filter:  5631
Entries after filter:  5630
Entries before filter:  139
Entries after filter:  139
Running queries for city SF
68 rows affected.
609 rows affected.
840 rows affected.
Entries before filter:  609
Entries after filter:  536
Entries before filter:  840
Entries after filter:  839
Entries before filter:  68
Entries after filter:  68
Running queries for city PORTLAND
152 rows affected.
63934 rows affected.
9622 rows affected.
Entries before filter:  63934
Entries after filter:  62108
Entries before filter:  9622
Entries after filter:  9615
Entries before filter:  152
Entries after filter:  151
Running queries for city TUSCON
167 rows affected.
10346 rows affected.
2407 rows affected.
Entries before filter:  10346
Entries after filter:  9734
Entries before filter:  2407
Entries after filter:  2391
Entries before filter:  167
Entries after filter:  164
Running queries for city DETROIT
189 rows affected.
22868 rows affected.
5429 rows affected.
Entries before filter:  22868
Entries after filter:  5891
Entries before filter:  5429
Entries after filter:  5249
Entries before filter:  189
Entries after filter:  52