In [17]:
%load_ext sql

# imports
import pandas as pd
import datetime as dt

# today's date for output filenames
today = dt.date.today()

# data columns used for the booster
factors = ['property_id', 'bedrooms', 'bathrooms', 'sqft','longitude', 'latitude','zipcode', 'elevation', 'garage'
                          ,'year_built', 'level','dist_to_park','dist_to_golf_course', 'has_pool'
                          ,'date_closed','multifamily', 'hoa_fees', 'lot']

# %sql mysql://root@localhost/rental_nerd
%sql mysql://prod:nerd@52.2.153.189/rental_nerd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: prod@rental_nerd'

In [18]:
def top_zipcodes(n = 100):
    # query the top 100 zipcodes in the database (roughly equal to all zipcodes >10k properties)
    query = %sql (\
    SELECT zipcode, COUNT(id) \
    FROM properties \
    GROUP BY zipcode \
    ORDER BY 2 DESC \
    limit :n)

    zipcode_filter = query.DataFrame()
    print("Top zipcode by count is",zipcode_filter.iloc[0,0],"with",zipcode_filter.iloc[0,1],"properties")
    print("100th zipcode by count is",zipcode_filter.iloc[99,0],"with",zipcode_filter.iloc[99,1],"properties")
    return zipcode_filter.zipcode.values

def city_query():
    query = %sql (\
    SELECT area_name, COUNT(id) \
    FROM area_name_zipcodes \
    GROUP BY area_name \
    ORDER BY 2 DESC \
    limit 100)
    return query.DataFrame().area_name.values

def sanitize(data, zipcode_list = None):
    # abort if the city has no top zipcodes
    if data.empty:
        return 0    
    
    # filters out any non-sensical values or fat finger mistakes in MLS listings
    print("Entries before filter: ", len(data))

    if(data.transaction_type.iloc[0] == 'sales'):
        data = data[ data.price > 50000 ]
    else:
        data = data [ data.price > 500 ]
    
    if(zipcode_list is not None):
        data = data[data.zipcode.isin(zipcode_list)]

    print("Entries after filter: ",len(data))
    
    # fills in some sensible defaults where data is missing
    data["near_golf_course"] = data["near_golf_course"].apply(lambda x: True if x == 1.0 else False)
    data["has_pool"] = data["has_pool"].apply(lambda x: True if x == 1.0 else False)
    data["garage"] = data["garage"].apply(lambda x: True if x == 1.0 else False)
    data["multifamily"] = data["home_type"].apply(lambda x: True if x == "mfh" else False)
    data['date_closed'] = data['date_closed'].apply(lambda x: (x - dt.date(2000, 1, 1)).days)
    data['date_closed'] = data['date_closed'].astype(int)
    
    return data

def query_for_sale(city, zipcode, limit):
    # convert array of zipcodes into sql string which looks like a tuple
    placeholders = tuple(zipcode)
    
    # sql query helper function
    query = %sql (\
    select  \
    *  \
    from  \
    properties, \
    property_transaction_logs, \
    area_name_zipcodes \
    where  \
    property_transaction_logs.abnormal != true and \
    properties.sqft between 1 and 10000 and \
    property_transaction_logs.price between 500 and 4000000 and \
    properties.bedrooms <= 6 and \
    properties.bathrooms <= 6 and \
    properties.home_type = 'sfh' and \
    area_name_zipcodes.`area_name` LIKE :city and \
    area_name_zipcodes.`zipcode` = properties.`zipcode` and     \
    properties.zipcode IN :placeholders and \
    properties.`id` = property_transaction_logs.`property_id` and \
    property_transaction_logs.`transaction_status` = 'open' and \
    property_transaction_logs.`transaction_type` = 'sales' and \
    property_transaction_logs.`is_latest` = true \
    order by \
    property_transaction_logs.id desc \
    limit :limit) 

    return query.DataFrame().T.groupby(level=0).first().T

def query(transaction_type, transaction_status, city, zipcode, limit, start_date="2000-01-01 10:01:13", end_date=today):
    # convert array of zipcodes into sql string which looks like a tuple
    placeholders = tuple(zipcode)
    
    # sql query helper function
    query = %sql (\
    select  \
    *  \
    from  \
    properties, \
    property_transaction_logs, \
    area_name_zipcodes \
    where  \
    property_transaction_logs.abnormal != true and \
    properties.sqft between 1 and 10000 and \
    property_transaction_logs.price between 500 and 400000 and \
    properties.bedrooms <= 6 and \
    properties.bathrooms <= 6 and \
    properties.home_type = 'sfh' and \
    property_transaction_logs.date_closed > :start_date and \
    property_transaction_logs.date_closed < :end_date and \
    area_name_zipcodes.`area_name` LIKE :city and \
    area_name_zipcodes.`zipcode` = properties.`zipcode` and     \
    properties.zipcode IN :placeholders and \
    properties.`id` = property_transaction_logs.`property_id` and \
    property_transaction_logs.`transaction_status` = :transaction_status and \
    property_transaction_logs.`transaction_type` = :transaction_type and \
    property_transaction_logs.`is_latest` = true \
    order by \
    property_transaction_logs.id desc \
    limit :limit) 

    return query.DataFrame().T.groupby(level=0).first().T

def queue_city_queries(city, cut_off_date, zipcode_list):
    # call all of the needed queries 
    sales = query('sales', 'closed', city, zipcode_list, limit)
    for_sale = query_for_sale(city, zipcode_list, limit)
    rent = query('rental','closed', city,zipcode_list, limit)
        
    # use today's date for 'close date' since the transaction is still open i.e. home is currently listed for sale
    # this is needed for the sanitize function to work properly
    for_sale.date_closed = today

    data = {'sales': sales, 'rentals': rent, 'for_sale': for_sale }
    
    for k, v in data.items():
        if v.empty:
            print('no rows returned for key', k, 'in city: ', city)
            return 0
        data[k] = sanitize(v, zipcode_list)
    
    return data

In [19]:
# get list of top zipcodes to only run the model on them (put down 2000 to get every zipcode)
zipcode_list = top_zipcodes(2000)

# limit on number of lines returned from sql queries (for debugging)
limit = 100000000

# get list of all available cities
cities = city_query()
print("Order of city models to run:", cities)

1186 rows affected.
Top zipcode by count is 94565 with 18734 properties
100th zipcode by count is 85138 with 9685 properties
11 rows affected.
Order of city models to run: ['BAY_AREA' 'HOUSTON' 'PH' 'VEGAS' 'DENVER' 'ST_LOUIS' 'SEATTLE' 'SF'
 'PORTLAND' 'TUSCON' 'DETROIT']

In [20]:
for city in cities:
    print("Running queries for city", city)
    q = queue_city_queries(city, cut_off_date, zipcode_list)
    for k,v in q.items():
        v.to_csv('CSV_backups/' + city + '-' + k + '.csv')

Running queries for city BAY_AREA
112548 rows affected.
13003 rows affected.
34550 rows affected.
Entries before filter:  112548
Entries after filter:  108649
Entries before filter:  34550
Entries after filter:  34533
Entries before filter:  13003
Entries after filter:  12672
Running queries for city HOUSTON
57548 rows affected.
2261 rows affected.
25320 rows affected.
Entries before filter:  57548
Entries after filter:  49181
Entries before filter:  25320
Entries after filter:  25292
Entries before filter:  2261
Entries after filter:  2013
Running queries for city PH
348351 rows affected.
10061 rows affected.
54185 rows affected.
Entries before filter:  348351
Entries after filter:  333673
Entries before filter:  54185
Entries after filter:  54138
Entries before filter:  10061
Entries after filter:  8648
Running queries for city VEGAS
132231 rows affected.
14830 rows affected.
29127 rows affected.
Entries before filter:  132231
Entries after filter:  126743
Entries before filter:  29127
Entries after filter:  29100
Entries before filter:  14830
Entries after filter:  14127
Running queries for city DENVER
50454 rows affected.
339 rows affected.
9745 rows affected.
Entries before filter:  50454
Entries after filter:  49438
Entries before filter:  9745
Entries after filter:  9739
Entries before filter:  339
Entries after filter:  305
Running queries for city ST_LOUIS
45417 rows affected.
3403 rows affected.
5941 rows affected.
Entries before filter:  45417
Entries after filter:  37522
Entries before filter:  5941
Entries after filter:  5899
Entries before filter:  3403
Entries after filter:  1229
Running queries for city SEATTLE
23727 rows affected.
8866 rows affected.
5535 rows affected.
Entries before filter:  23727
Entries after filter:  23203
Entries before filter:  5535
Entries after filter:  5534
Entries before filter:  8866
Entries after filter:  8813
Running queries for city SF
602 rows affected.
3 rows affected.
808 rows affected.
Entries before filter:  602
Entries after filter:  530
Entries before filter:  808
Entries after filter:  807
Entries before filter:  3
Entries after filter:  2
Running queries for city PORTLAND
63978 rows affected.
2048 rows affected.
9548 rows affected.
Entries before filter:  63978
Entries after filter:  62153
Entries before filter:  9548
Entries after filter:  9541
Entries before filter:  2048
Entries after filter:  2005
Running queries for city TUSCON
10304 rows affected.
5859 rows affected.
2345 rows affected.
Entries before filter:  10304
Entries after filter:  9698
Entries before filter:  2345
Entries after filter:  2329
Entries before filter:  5859
Entries after filter:  5468
Running queries for city DETROIT
22831 rows affected.
18905 rows affected.
5326 rows affected.
Entries before filter:  22831
Entries after filter:  5883
Entries before filter:  5326
Entries after filter:  5144
Entries before filter:  18905
Entries after filter:  1837